.main {
  width: 100%;
}

.form {
  margin-inline: auto;
  width: min(100%, 25ch);
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.form > * {
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: center;
}