.main {
  width: 100%;
}

.form {
  margin-inline: auto;
  width: min(100%, 25ch);
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.form > * {
  width: 100%;
}

.form input {
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: center;
}

.info {
  width: 100%;
  text-align: center;
  padding: .35rem;
  border-radius: var(--border-radius-medium);
  color: var(--clr-strong);
}

.info.success {
  color: var(--accent-green);
}

.info.error {
  color: var(--accent-red);
}