.card {
  border-radius: var(--border-radius-soft);
  background-color: var(--bg-secondary);

  min-height: 2.188rem;
  padding: 8px;
  width: fit-content;

  display: flex;
  flex-direction: column;
}

.card-sm {
  height: 2.188rem;
}

.card-header-wrapper {
  display: flex;
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2px;
}

.card-title {
  font-size: var(--fs-200);
  font-weight: 500;
  padding: 0;
}

.card-emoji {
  font-size: var(--fs-400);
}
