.wrapper {
  display: grid;
  place-items: center;
  gap: 2rem;
}

.actions-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.leaderboard {
  background-color: var(--bg-secondary);
  border-radius: var(--border-radius-soft);
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.grid > * {
  padding: .5rem 1rem;
}

.leaderboard > *:nth-child(odd) {
  background-color: var(--tint-soft);
}