@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  /* Colors */
  --bg-primary-hsl: 240 23% 16%;
  --bg-primary: hsl(var(--bg-primary-hsl));
  --glass-primary: hsl(var(--bg-primary-hsl) / var(--glass-opacity));
  --bg-secondary-hsl: 243 21% 20%;
  --bg-secondary: hsl(var(--bg-secondary-hsl));
  --glass-secondary: hsl(var(--bg-secondary-hsl) / var(--glass-opacity));
  --clr-primary: hsl(0 0% 85%);
  --clr-secondary: hsl(0 0% 60%);
  --clr-heading: hsl(0 0% 100%);
  --clr-strong: hsl(0 0% 92%);
  --clr-placeholder: hsl(0 0% 45%);
  --clr-icon: hsl(0 0% 0%);
  --shadow-soft: hsl(0 0% 0% / 0.25);
  --shadow-medium: hsl(0 0% 0% / 0.375);
  --shadow-strong: hsl(0 0% 0% / 0.5);
  --accent-green: hsl(153 81% 59%);
  --accent-yellow: hsl(61, 100%, 77%);
  --accent-orange: hsl(29 82% 67%);
  --accent-pink: hsl(313 61% 71%);
  --accent-red: hsl(350 81% 71%);
  --tint-soft: hsl(0 0% 0% / 0.05);
  --tint-medium: hsl(0 0% 100% / 0.1);
  --tint-strong: hsl(0 0% 100% / 0.15);

  /* Metrics */
  --padding-y-text: 0.2em;
  --padding-x: 1.25rem;
  --padding-y: 0.75rem;
  --padding: var(--padding-y) var(--padding-x);
  --icon-size: 1.5rem;
  --border-radius-round: 100vmax;
  --border-radius-soft: 0.5rem;
  --border-radius-medium: 1rem;
  --border-radius-hard: 0.125rem;

  /* Font families */
  --ff-primary: "Poppins", sans-serif;
  --ff-heading: "Poppins", sans-serif;

  /* Font sizes */
  --fs-200: 0.875rem;
  --fs-300: 0.925rem;
  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.25rem;
  --fs-700: 1.5rem;
  --fs-800: 1.75rem;
  --fs-900: 2.25rem;

  /* Misc */
  --glass-opacity: 0.9;
  --box-shadow-s: 0 0.2rem 0.4rem;
  --box-shadow-m: 0 0.35rem 0.7rem;
  --box-shadow-l: 0 0.5rem 1rem;
  --box-shadow-border-s: 0 0 0.2rem;
  --box-shadow-border-m: 0 0 0.35rem;
  --box-shadow-border-l: 0 0 0.7rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--clr-primary);
  font-family: var(--ff-primary);
  font-size: var(--fs-400);
  font-weight: 400;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--bg-primary);
}

/* Text */
a {
  color: inherit;
  text-decoration: none;
}

strong {
  font-weight: 700;
  color: var(--clr-strong);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--clr-heading);
  font-family: var(--ff-heading);
  font-weight: 700;
  padding-block: var(--padding-y-text);
}

h1 {
  font-size: var(--fs-900);
}

h2 {
  font-size: var(--fs-800);
}

h3 {
  font-size: var(--fs-700);
}

h4 {
  font-size: var(--fs-600);
}

h5 {
  font-size: var(--fs-500);
}

h6 {
  font-size: var(--fs-400);
}

/* Interactables */
button {
  background-color: var(--accent-green);
  border: none;
  border-radius: 8px;
  color: var(--clr-icon);
  cursor: pointer;
  outline: none;
  padding: var(--padding-y) var(--padding-x);
  transition: box-shadow var(--transition-fast);
  isolation: isolate;
  overflow: hidden;
  position: relative;
}

button::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: hsl(0 0% 100%);
  opacity: 0;
  box-shadow: none;
  transition: opacity var(--transition-fast);
}

button:hover {
  box-shadow: var(--box-shadow-border-m) var(--shadow-soft);
}

button:hover::after {
  opacity: 0.1;
}

textarea,
input:not([type="checkbox"]) {
  border: none;
  outline: none;
  background-color: var(--bg-secondary);
  padding: var(--padding);
}

:is(textarea, input:not([type="checkbox"])):hover {
  outline: 0.15em solid var(--tint-strong);
}

:is(textarea, input:not([type="checkbox"])):focus {
  outline: 0.15em solid currentColor;
}

textarea {
  border-radius: var(--border-radius-medium);
  resize: none;
}

input:not([type="checkbox"]) {
  border-radius: var(--border-radius-medium);
}

input[type="checkbox"] {
  appearance: none;
  width: 1.5em;
  height: 1.5em;
  position: relative;
  isolation: isolate;
  cursor: pointer;
}

input[type="checkbox"]::after {
  content: "";
  position: absolute;
  inset: 0;
  display: grid;
  place-content: center;
  color: hsl(0 0% 100%);
  background-color: var(--bg-secondary);
  border: 0.075em solid var(--shadow-soft);
  border-radius: var(--border-radius-hard);
  box-shadow: inset 0 0 0.1em var(--shadow-soft);
  z-index: -1;
}

input[type="checkbox"]:checked::after {
  content: "\2714";
  background-color: var(--accent-pink);
}

::placeholder {
  color: var(--clr-placeholder);
}

.form-group input:invalid {
  box-shadow: var(--box-shadow-border-m) var(--accent-red);
}

/*
@media (prefers-color-scheme: light) {
  :root {
    
  }
}
*/
