.leaderboard {
  background-color: var(--bg-secondary);
  border-radius: var(--border-radius-soft);
  border-spacing: 0;
  overflow: hidden;
  width: 100%;
}

.leaderboard thead {
  padding: 0;
}

.leaderboard th {
  background-color: var(--bg-secondary);
  font-size: var(--fs-300);
  text-align: center;
  padding: 8px;
  font-weight: 500;
  color: rgb(255, 255, 255, 0.6);
}

.leaderboard td {
  font-size: var(--fs-200);
  padding: 8px;
  text-align: center;
  font-weight: 500;
  color: white;
}

.leaderboard tr:nth-of-type(odd) {
  background-color: rgb(255, 255, 255, 0.07);
}

.text-align-left {
  text-align: left !important;
}

.wins-col {
  padding-right: 0px !important;
}

.draws-col {
  padding-left: 2px !important;
  padding-right: 2px !important;
}

.losses-col {
  padding-left: 2px !important;
}

.medal {
  border-radius: 50%;
  height: 17px;
  width: 17px;
  margin: auto;
}

.gold-medal {
  background-color: #ffc700;
}

.silver-medal {
  background-color: #e7e7e7;
}

.bronze-medal {
  background-color: #825f07;
}

.section-container {
  margin-top: 2rem;
}

.spacing {
  margin-bottom: 0.6rem;
}



