
.header-container {
  width: 100%;
  height: max(4rem, fit-content);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.back-button-container {
  position: absolute;
  inset: 0 auto 0 0;
  width: fit-content;
  display: grid;
  place-content: center;
}