.info-box {
  display: block;
  text-align: center;
  background-color: var(--bg-secondary);
  color: var(--clr-secondary);
  border-radius: var(--border-radius-hard);
  padding: calc(0.2 * var(--padding-y)) var(--padding-x);
  transform: scaleY(0);
  transition: transform 200ms;
  max-width: fit-content;
  font-size: 0.8rem;
}

.show {
  transform: scaleY(1);
}

.info-btn {
  all: initial;
  margin-left: 0.4rem;
  border: none;
  outline: none;
  color: var(--clr-secondary);
  font-weight: 900;
  font-size: 1.5rem;
  cursor: pointer;
  scale: 0.7;
}

.info-btn::after,
.info-btn::before {
  pointer-events: none;
  display: none;
}

.info-btn:hover {
  box-shadow: none;
}

.info-btn:focus {
  box-shadow: none;
}
