.info-box {
  display: block;
  text-align: center;
  background-color: var(--bg-secondary);
  color: var(--clr-secondary);
  border-radius: var(--border-radius-hard);
  padding: calc(.5 * var(--padding-y)) var(--padding-x);
  transform: scaleY(0);
  transition: transform 200ms;
}

.show {
  transform: scaleY(1);
}

.info-btn {
  all: initial;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  color: var(--clr-secondary);
  font-weight: 900;
  font-size: 1.5rem;
  cursor: pointer;
}

.info-btn:hover {
  box-shadow: none;
}

.info-btn:focus {
  box-shadow: none;
}