.toggle-input {
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: var(--border-radius-medium);
  overflow: hidden;
}

.toggle-on, .toggle-off {
  height: fit-content;
  padding: var(--padding);
  border: none;
  border-radius: 0;
  outline: none;
  display: grid;
  place-content: center;
  cursor: pointer;
  color: hsl(0 0% 0%);
  opacity: .2;
}

:is(.toggle-on, .toggle-off):hover {
  opacity: .3;
  transition: opacity 100ms;
}

.toggle-on {
  background-color: var(--accent-green);
}

.toggle-off {
  background-color: var(--accent-red);
}

.selected {
  opacity: 1 !important;
  transition: opacity 100ms;
}

.number-input::-webkit-outer-spin-button,
.number-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.numer-input {
  -moz-appearance: textfield;
}