.container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
}

.form {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  margin-bottom: 2rem;
}

.gamesBanner {
  margin-bottom: 2rem;
}

.inputContainer {
  margin: 1rem 0;
  min-width: 19rem;
}

.inputLabel {
  margin-bottom: 0.5rem;
}

.buttonContainer {
  margin-top: 2rem;
}

.input {
  width: 100%;
}
