
.timeLabel {
    font-size: var(--fs-300);
    color: black;
    font-weight: 500;
}


.wins-col {
    padding-right: 0px !important;
  }
  
  .draws-col {
    padding-left: 2px !important;
    padding-right: 2px !important;
  }
  
  .losses-col {
    padding-left: 2px !important;
  }


.text-input {
  height: 2.5rem;
  width: min(60%, 18rem);
}


.math-buttons {
  gap: 2rem !important;
  padding-top: 1rem;
}

.button-round {
  border-radius: 50% !important;
}