.header-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2.5rem;
  gap: 10px;
}

.timeLabel {
  font-size: var(--fs-300);
  color: black;
  font-weight: 500;
}

.text-input {
  height: 2.5rem;
  width: min(70%, 18rem);
  padding-top: 2rem;
}

.calculator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}

.math-buttonsContainer {
  margin-top: 1rem;
  display: flex;
}

.operator-button {
  margin-right: 1rem;
  width: 2.5rem;
}

.calculate-button {
  margin-top: 1rem;
}

.log {
  background-color: rgb(255, 255, 255, 0.07);
  border-radius: var(--border-radius-soft);
  border-spacing: 0 8px;
  overflow: hidden;
  width: 100%;
  padding: 8px;
}

.log thead {
  padding: 0;
  width: 100%;
}

.log th {
  font-size: var(--fs-300);
  text-align: center;
  padding: 8px;
  font-weight: 500;
  color: rgb(255, 255, 255, 0.6);
}

.log tr {
  background-color: var(--bg-secondary);
}

.log th:first-child,
.log td:first-child {
  border-radius: var(--border-radius-soft) 0 0 var(--border-radius-soft);
}

.log th:last-child,
.log td:last-child {
  border-radius: 0 var(--border-radius-soft) var(--border-radius-soft) 0;
}

.log td {
  background-color: transparent;
  font-size: var(--fs-200);
  padding: 8px;
  text-align: center;
  font-weight: 500;
  color: white;
}

.text-align-left {
  text-align: left !important;
}
